# Logs
logs
*.log

# Compiled binary addons (https://nodejs.org/api/addons.html)
build/Release

# Dependency directories
node_modules/

frontend/node_modules/
docs/node_modules/
docs/src/.vitepress/cache

# dotenv environment variables file
.env
.env.test

# vuepress build output
.vuepress/dist
.idea/
